/*** Start css of #_lp_block_50407109[data-block-layout='340706']  ***/

#_lp_block_50407109[data-block-layout='340706']  {
	padding-top: 0px;
	padding-bottom: 32px;
}

/*** End css of #_lp_block_50407109[data-block-layout='340706']  ***/
/*** Start css of #_lp_block_50408309[data-block-layout='520307'] .lpc-banners__background ***/

#_lp_block_50408309[data-block-layout='520307'] .lpc-banners__background {
	background-attachment: scroll;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: rgba(34,34,34,1);
}

/*** End css of #_lp_block_50408309[data-block-layout='520307'] .lpc-banners__background ***/